/* Property */
.andalusia .kunjungi
{
  border: 2px solid #d48a41;
  color: #d48a41;
}

.andalusia .kunjungi:hover
{
  background: #d48a41;
  color: #fff;
}

.casaDeMampang .kunjungi
{
  border: 2px solid #615D67;
  color: #615D67;
}

.casaDeMampang .kunjungi:hover
{
  background: #615D67;
  color: #fff;
}

.jatiPadang .kunjungi
{
  border: 2px solid #5D70A4;
  color: #5D70A4;
}

.jatiPadang .kunjungi:hover
{
  background: #5D70A4;
  color: #fff;
}

.kemuning .kunjungi
{
  border: 2px solid #198754;
  color: #198754;
}

.kemuning .kunjungi:hover
{
  background: #198754;
  color: #fff;
}

.nadeenHouse .kunjungi
{
  border: 2px solid #7F372C;
  color: #7F372C;
}

.nadeenHouse .kunjungi:hover
{
  background: #7F372C;
  color: #fff;
}

.paizaHouse3 .kunjungi
{
  border: 2px solid #9BC673;
  color: #9BC673;
}

.paizaHouse3 .kunjungi:hover
{
  background: #9BC673;
  color: #fff;
}
/* End */

/* Toko */
.BerkahToko .kunjungi
{
  border: 2px solid #c0714a;
  color: #c0714a;
}

.BerkahToko .kunjungi:hover
{
  background: #c0714a;
  color: #fff;
}

/* End */

/* Interior */
.andalusiaResidance .kunjungi
{
  border: 2px solid #dad7d7;
  color: #000;
}

.andalusiaResidance .kunjungi:hover
{
  background: #dad7d7;
  color: #000;
}

.BintaroMrA .kunjungi
{
  border: 2px solid #dad7d7;
  color: #000;
}

.BintaroMrA .kunjungi:hover
{
  background: #dad7d7;
  color: #000;
}

.cordovaMrB .kunjungi
{
  border: 2px solid #8a3835;
  color: #8a3835;
}

.cordovaMrB .kunjungi:hover
{
  background: #8a3835;
  color: #fff;
}

.cordovaMrN .kunjungi
{
  border: 2px solid #dad7d7;
  color: #000;
}

.cordovaMrN .kunjungi:hover
{
  background: #dad7d7;
  color: #000;
}

.depokMrD .kunjungi
{
  border: 2px solid #C09C7A;
  color: #C09C7A;
}

.depokMrD .kunjungi:hover
{
  background: #C09C7A;
  color: #fff;
}

.doBerkahGroup .kunjungi
{
  border: 2px solid #dad7d7;
  color: #000;
}

.doBerkahGroup .kunjungi:hover
{
  background: #dad7d7;
  color: #000;
}

.gnSindurMrsP .kunjungi
{
  border: 2px solid #658e7b;
  color: #658e7b;
}

.gnSindurMrsP .kunjungi:hover
{
  background: #658e7b;
  color: #fff;
}

.jecCinere .kunjungi
{
  border: 2px solid #2F3766;
  color: #2F3766;
}

.jecCinere .kunjungi:hover
{
  background: #2F3766;
  color: #fff;
}

.jecKedoya .kunjungi
{
  border: 2px solid #B28B30;
  color: #B28B30;
}

.jecKedoya .kunjungi:hover
{
  background: #B28B30;
  color: #fff;
}

.mampangMrsA .kunjungi
{
  border: 2px solid #787470;
  color: #787470;
}

.mampangMrsA .kunjungi:hover
{
  background: #787470;
  color: #fff;
}

.NadeenMrA .kunjungi
{
  border: 2px solid #C1A88F;
  color: #C1A88F;
}

.NadeenMrA .kunjungi:hover
{
  background: #C1A88F;
  color: #fff;
}

.NadeenHouseMrD .kunjungi
{
  border: 2px solid #dad7d7;
  color: #000;
}

.NadeenHouseMrD .kunjungi:hover
{
  background: #dad7d7;
  color: #000;
}

.NestApartMrS .kunjungi
{
  border: 2px solid #dad7d7;
  color: #000;
}

.NestApartMrS .kunjungi:hover
{
  background: #dad7d7;
  color: #000;
}

.OfficeNotarisMrD .kunjungi
{
  border: 2px solid #dad7d7;
  color: #000;
}

.OfficeNotarisMrD .kunjungi:hover
{
  background: #dad7d7;
  color: #000;
}

.paiza1MrC .kunjungi
{
  border: 2px solid #6e7190;
  color: #6e7190;
}

.paiza1MrC .kunjungi:hover
{
  background: #6e7190;
  color: #fff;
}

.paiza2MrL .kunjungi
{
  border: 2px solid #B19473;
  color: #B19473;
}

.paiza2MrL .kunjungi:hover
{
  background: #B19473;
  color: #fff;
}

.pasarMingguMrsI .kunjungi
{
  border: 2px solid #B19473;
  color: #B19473;
}

.pasarMingguMrsI .kunjungi:hover
{
  background: #B19473;
  color: #fff;
}

.Papaya1MrsD .kunjungi
{
  border: 2px solid #909197;
  color: #909197;
}

.Papaya1MrsD .kunjungi:hover
{
  background: #909197;
  color: #fff;
}

.Papaya1MrsP .kunjungi
{
  border: 2px solid #977C63;
  color: #977C63;
}

.Papaya1MrsP .kunjungi:hover
{
  background: #977C63;
  color: #fff;
}

.SavanaMrF .kunjungi
{
  border: 2px solid #4C4946;
  color: #4C4946;
}

.SavanaMrF .kunjungi:hover
{
  background: #4C4946;
  color: #fff;
}

.SavanaMrsV .kunjungi
{
  border: 2px solid #B28F62;
  color: #B28F62;
}

.SavanaMrsV .kunjungi:hover
{
  background: #B28F62;
  color: #fff;
}
/* End */

/* Details Button Interior */
.berkahBangunan .detailsTitle
{
  color: #c0714a;
}

.andalusiaResidence .detailsTitle
{
  color: #454545c4;
}

.andalusiaResidence .btn-siteplan, .andalusiaResidence .btn-flyer
{
  color: #615D67;
  border: 1.5px solid #615D67;
}

.andalusiaResidence .btn-siteplan:hover, .andalusiaResidence .btn-flyer:hover
{
  background: #615D67;
  color: #ffffff;
}

.bintaroMrA .detailsTitle
{
  color: #615D67;
}

.bintaroMrA .btn-siteplan, .bintaroMrA .btn-flyer
{
  color: #615D67;
  border: 1.5px solid #615D67;
}

.bintaroMrA .btn-siteplan:hover, .bintaroMrA .btn-flyer:hover
{
  background: #615D67;
  color: #ffffff;
}

.cordovaTownHouseMrB .detailsTitle
{
  color: #8A3835;
}

.cordovaTownHouseMrB .btn-siteplan, .cordovaTownHouseMrB .btn-flyer
{
  color: #8A3835;
  border: 1.5px solid #8A3835;
}

.cordovaTownHouseMrB .btn-siteplan:hover, .cordovaTownHouseMrB .btn-flyer:hover
{
  background: #8A3835;
  color: #ffffff;
}

.depokMrD .detailsTitle
{
  color: #bb8b5e;
}

.depokMrD .btn-siteplan, .depokMrD .btn-flyer
{
  color: #bb8b5e;
  border: 1.5px solid #bb8b5e;
}

.depokMrD .btn-siteplan:hover, .depokMrD .btn-flyer:hover
{
  background: #bb8b5e;
  color: #ffffff;
}

.gnSindurMrsP .detailsTitle
{
  color: #658E7B;
}

.gnSindurMrsP .btn-siteplan, .gnSindurMrsP .btn-flyer
{
  color: #658E7B;
  border: 1.5px solid #658E7B;
}

.gnSindurMrsP .btn-siteplan:hover, .gnSindurMrsP .btn-flyer:hover
{
  background: #658E7B;
  color: #ffffff;
}

.jecCinere .detailsTitle
{
  color: #2F3766;
}

.jecCinere .btn-siteplan, .jecCinere .btn-flyer
{
  color: #2F3766;
  border: 1.5px solid #2F3766;
}

.jecCinere .btn-siteplan:hover, .jecCinere .btn-flyer:hover
{
  background: #2F3766;
  color: #ffffff;
}

.jecKedoya .detailsTitle
{
  color: #B28B30;
}

.jecKedoya .btn-siteplan, .jecKedoya .btn-flyer
{
  color: #B28B30;
  border: 1.5px solid #B28B30;
}

.jecKedoya .btn-siteplan:hover, .jecKedoya .btn-flyer:hover
{
  background: #B28B30;
  color: #ffffff;
}

.mampangMrsA .detailsTitle
{
  color: #787470;
}

.mampangMrsA .btn-siteplan, .mampangMrsA .btn-flyer
{
  color: #787470;
  border: 1.5px solid #787470;
}

.mampangMrsA .btn-siteplan:hover, .mampangMrsA .btn-flyer:hover
{
  background: #787470;
  color: #ffffff;
}

.nadeenMrA .detailsTitle
{
  color: #c19b75;
}

.nadeenMrA .btn-siteplan, .nadeenMrA .btn-flyer
{
  color: #c19b75;
  border: 1.5px solid #c19b75;
}

.nadeenMrA .btn-siteplan:hover, .nadeenMrA .btn-flyer:hover
{
  background: #c19b75;
  color: #ffffff;
}

.paiza1MrC .detailsTitle
{
  color: #5c63a8;
}

.paiza1MrC .btn-siteplan, .paiza1MrC .btn-flyer
{
  color: #6E7190;
  border: 1.5px solid #6E7190;
}

.paiza1MrC .btn-siteplan:hover, .paiza1MrC .btn-flyer:hover
{
  background: #6E7190;
  color: #ffffff;
}

.paiza2MrL .detailsTitle
{
  color: #B19473;
}

.paiza2MrL .btn-siteplan, .paiza2MrL .btn-flyer
{
  color: #B19473;
  border: 1.5px solid #B19473;
}

.paiza2MrL .btn-siteplan:hover, .paiza2MrL .btn-flyer:hover
{
  background: #B19473;
  color: #ffffff;
}

.papaya1MrsD .detailsTitle
{
  color: #909197;
}

.papaya1MrsD .btn-siteplan, .papaya1MrsD .btn-flyer
{
  color: #909197;
  border: 1.5px solid #909197;
}

.papaya1MrsD .btn-siteplan:hover, .papaya1MrsD .btn-flyer:hover
{
  background: #909197;
  color: #ffffff;
}

.papaya1MrsP .detailsTitle
{
  color: #977C63;
}

.papaya1MrsP .btn-siteplan, .papaya1MrsP .btn-flyer
{
  color: #977C63;
  border: 1.5px solid #977C63;
}

.papaya1MrsP .btn-siteplan:hover, .papaya1MrsP .btn-flyer:hover
{
  background: #977C63;
  color: #ffffff;
}

.pasarMingguMrsI .detailsTitle
{
  color: #B19473;
}

.pasarMingguMrsI .btn-siteplan, .pasarMingguMrsI .btn-flyer
{
  color: #B19473;
  border: 1.5px solid #B19473;
}

.pasarMingguMrsI .btn-siteplan:hover, .pasarMingguMrsI .btn-flyer:hover
{
  background: #B19473;
  color: #ffffff;
}

.savanaMrF .detailsTitle
{
  color: #4C4946;
}

.savanaMrF .btn-siteplan, .savanaMrF .btn-flyer
{
  color: #4C4946;
  border: 1.5px solid #4C4946;
}

.savanaMrF .btn-siteplan:hover, .savanaMrF .btn-flyer:hover
{
  background: #4C4946;
  color: #ffffff;
}

.savanaMrsV .detailsTitle
{
  color: #B28F62;
}

.savanaMrsV .btn-siteplan, .savanaMrsV .btn-flyer
{
  color: #B28F62;
  border: 1.5px solid #B28F62;
}

.savanaMrsV .btn-siteplan:hover, .savanaMrsV .btn-flyer:hover
{
  background: #B28F62;
  color: #ffffff;
}
/* End */